
<!DOCTYPE html>
<html lang="en">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Language" content="en">
        <meta name="keywords" content="Khiêu vũ thể thao, thông tin giải đấu, đăng ký thi đấu online" />
        <meta name="description" content="Khiêu vũ thể thao, thông tin giải đấu, đăng ký thi đấu online" />
        <meta name="robots" content="index,follow,noodp" />
        <link rel="shortcut icon" href="logo.jpg"/>
        <title>Khiêu vũ thể thao</title>
        <link href="css/newmain.css" rel="stylesheet">
        <link rel="stylesheet" href="css/boostrap3.3.6/bootstrap.min.css">
        <style>
            .table>tbody>tr>td{font-size: 13px !important;}
            .table>tbody>tr>td{color: black !important;}
            .table>thead>tr>th{font-size: 13px !important;}
            .main-div .table td a{cursor: pointer; font-size: 13px !important;}
            .regDD{display: inline-block;margin: 5px 0;border-top: 1px solid #d0c7c7;padding: 3px 0;border-bottom: 1px solid #d0c7c7;}
        </style>
    </head>
<body>
    <div class="main-div">
        <div class="header public clearfix">
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://vndancesport.com/"><img id="banner-img" src="css/images/banner.jpg"/></a>
            </div>
            <div class="navbar-collapse collapse" style="height:1px">
                <ul class="nav navbar-nav">
                    <li><a id="homepage" href="http://vndancesport.com/index.html">Trang chủ</a></li>
                    <li><a href="http://vndancesport.com/danh-sach-giai-dau">Đăng ký thi đấu</a></li>
                    <li><a href="http://dangnhap.vndancesport.com/">Đăng nhập</a></li>
                    <li><a href="http://vndancesport.com/final.html">Kết quả chung kết</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Mục khác <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="http://vndancesport.com/dang-ky">Đăng ký tài khoản</a></li>
                            <li><a href="http://vndancesport.com/trung-tam-nang-khieu-sonata-page-1">Trung tâm năng khiếu Sonata</a></li>
                            <li><a href="http://vndancesport.com/music.html">Nhạc online</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>        <div style="padding-left: 3px; padding-right: 3px; min-height: 600px;">
        <h4 style="padding-left: 5px">DANH SÁCH GIẢI ĐẤU</h4>
        <table class="table"><thead><tr><th>Tên giải đấu</th><th>Đơn vị tổ chức</th><th style="width: 95px">Đăng ký</th></tr></thead><tbody><tr><td>Giải KVTT Hà Nội mở rộng năm 2024</td><td>Sở Văn hóa và Thể thao Hà Nội.<br> Từ ngày 21/12/2024</td><td><a href="http://vndancesport.com/dang-ky-thi-dau-2024hn.html">Đ.ký thi đấu</a><br><a href="http://vndancesport.com/dang-ky-thi-dong-dien-2024hn.html" class="regDD">Đ.ký Đ.diễn</a><br><a href="http://vndancesport.com/tao-noi-dung-dong-2024hn.html">Tạo Nd đóng</a></tr></tbody></table>    </div>
    <h1 style="display: none">Khiêu vũ thể thao, thông tin giải đấu, đăng ký thi đấu online, khieu vu the thao, giai khieu vu, giải khiêu vũ, dance sport, nhảy nghệ thuật</h1>
<h2 style="display: none">Khiêu vũ thể thao, thông tin giải đấu, đăng ký thi đấu online, khieu vu the thao, giai khieu vu, giải khiêu vũ, dance sport, nhảy nghệ thuật</h2>
<div id="footer">
    Khiêu vũ thể thao. Thông tin giải đấu. Đăng ký thi đấu online.<br>
    Copyright © 2016. Bản quyền thuộc vndancesport.com.
</div>        </div>
    <script src="js/jquery.min.js"></script>
    <script src="css/boostrap3.3.6/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-82839639-1', 'auto');
            ga('send', 'pageview');
        });
    </script>
</body>
</html>